.habilidadesRow h3{
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(80, 80, 80);
    text-align: center;
    font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
  }
  .habilidadesRow{
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 10px;
    animation: ver linear both;/*ESTA ANIMACION NO ESTA SOPORTADA POR FIREFOX*/
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }
  
  .habilidades-certificados-div{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .habilidades-col{
    padding-top: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #171717;
    border-radius: 8px;
  }

  .habilidades{
    
    padding-top: 10px;
    padding-bottom: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        100px,
        1fr
      )
    );
    gap: 2rem;
    
  }
  .habilidad-nivel{
    display: flex;
    opacity: 0;
    font-size: 1rem;
    font-weight: bolder;
    transition: opacity 1s ease;
    justify-content: center;
    text-align: center;
    
  }
 
  .habilidad{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    
    cursor: pointer;
  
    .nivel{
     margin-top: 5px;
    
    }
    .icon{
      width: 20px;
      height: 20px;
    }
  }

  .icon-nivel-list{
    display: flex;
    justify-content: center;
    width: 100%;
  }


  .habilidad:hover{
  
    .habilidad-nivel{
      opacity: 1;
    }
    #badge{
      filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
    }
    .icon-nivel{
      filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
    }
    .icon-nivel-filled{
      filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
    }
    .habilidad{
      opacity: 0.5;
    }
  }



  .certificados-col{
    
    
    border-radius: 8px;
    background-color: #171717;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    flex-wrap: wrap;
    & h4{
    
      padding-bottom: 10px;
      text-align: center;
    }
  }
  
  .certificado{
    border-radius: 8px;
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
    align-items: center;
    align-self: center;
 
    
    & span{
     
      font-size: 1.4rem;
      font-weight: 400;
    
      word-wrap: break-word;
      text-align: left;
    }
  }
  .ancord-txt{
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 8px;
    width: 100%;
  }
  .icon-photo{
   text-align: center;
   color: white;
  }
  .icon-photo:hover{
    filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
   }


  /* Estilos para el modal */
.modal {
  display: none;
 
  margin: 0 auto;

  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  align-self: center;

}

.modal img {
  max-width: 60%;
  max-height: 60%;
}

/* Mostrar el modal al hacer clic */
:target {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

/* Estilo del botón de cierre */
.close {
  position: absolute;
  top: 50px;
  right: 20px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

  