.rowContainer{
    
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    padding-bottom: 100px;
    padding-top: 30px;
   animation: ver linear both;/*ESTA ANIMACION NO ESTA SOPORTADA POR FIREFOX*/
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }
  .rowContainer h3{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
  }
  
  
  .firstColumn{
    
    background-color: #121214;
    border-radius: 8px;
    max-height: max-content;
    text-align: center;
    display: grid;
    align-items: center;
    align-content: center;
 
    text-justify:distribute-all-lines;
    word-break: break-all;
    text-wrap: wrap;
  }
  
  .firstColumn p{
    line-height:25px;
    font-size: 16px;
  }
  .firstColumn h4{
    margin-top: 20px;
    font-weight: bolder;
  }
  .firstColumn p{
    color: grey;
  }
  .firstColumn img{
    
    background: linear-gradient(whitesmoke,grey);
    border-radius: 10px;
    width: 18vw;
    height: 40vh;
  }

  .icons-list-about{
    display: flex;
    margin: 0 auto;
    width: 50%;
    justify-content: space-evenly;
  }
  .icon-about:hover{
    filter: drop-shadow(2px 2px 4px white);
  }
  .link-about{
    text-decoration: none;
    color: white !important;
  }
 
  
  .secondColumn{
    background-color: #121214;

    text-align: center;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 5vh;
   
    border-radius: 8px;

    & p{
      padding: 1rem 2rem;
      margin: 1.5rem 0;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.6;
      word-wrap: break-word;
      text-align: left;
    }
   }

   .circle{
    
   display: flex;
   align-items: center;
   }
   .circle :nth-child(1){
    
    color: rgb(26, 184, 26);
    width: 2vw;
    height: 2vh;
    filter: drop-shadow(0px 0px 2px rgb(64, 255, 64));
  }
   
 


  