.contact{
   
    padding-bottom: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
    place-content: center;
    align-items: center;
    text-align: center;
    
  
  }
  .contact-form{
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--bs-light);
    border-radius: 10px;
    width: 80%;
    
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
  }
  .contactEmail{
    margin: 0 auto;
    width: 40%;
    justify-content: center;
  }
  .contactMsg{
    margin: 0 auto;
    width: 40vw;
    justify-content: center;
  }
  .label{
    
    text-align: center;
    padding-top: 20px;
   
  }
  .contact h3{
    text-align: center;
    font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
  }
  .contactBtn{
    margin-top: 20px;
  }

  [data-bs-theme=dark]{
    .contact-form{
      box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    background-color: var(--bs-dark);
    }
  }