[data-bs-theme=light]{
    background: white !important;
    color: black !important;
    
    body{
        background: white !important;
        color: black !important;
    }
    .nav-tab .nav-link{
      text-decoration: none;
      color: black !important;
    }
    .nav-tab .nav-link.active{
      background-color: white !important;
    }
    
    .icon-about:hover{
        filter: drop-shadow(0px 0px 2px rgb(128, 128, 128));
      }
   
    .icon-btn:hover{
    filter: drop-shadow(0px 0px 1px rgb(128, 128, 128));
    }
    
   


  .icon-photo{
   
    color: rgb(0, 0, 0);
    
   }
   .icon-photo:hover{
    filter: drop-shadow(0px 0px 1px rgb(128, 128, 128));
   }

   .section-title{
    color: #333;
   }
   /*'''''''''CONTACT''''''''*/
   .contactBtn{
    color: white !important;
    background: black !important;
  }
  .contactBtn:active{
    background: rgb(54, 54, 54) !important;
  }

   footer{
    padding-top: 10px;
    box-shadow: 0px -3px 4px -4px grey;
   }
}



[data-bs-theme=dark]{
  :root {
    background-color: #171717 !important;
  }
    color: white !important;
    body{
      background-color: #171717 !important;
    color: white;
    }
    .nav-tab .nav-link{
      text-decoration: none;
      color: white !important;
    }

    .icon-btn:hover{
      filter: drop-shadow(0px 0px 1px rgb(255, 255, 255));
      }
   
    #about-card{
      background: #171717 !important;
    }
    .social-icons a{
      color: rgb(255, 255, 255) !important;
    }
    .social-icons a:hover {
      color: #007bff !important;
    }
    
    .profile-img {
      
      border: 4px solid  #333 !important;
      box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1) !important;
    }

   
    

    /*''''''''''CONTACT''''''''''''*/

    .githubIcon{
        color: white !important;
        border-radius: 99999px;
        border: 1px solid rgb(80, 80, 80) !important;
        box-shadow: 0px 3px 4px -4px grey;
       }
       .githubIcon:hover{
        background: white !important;
        color: black !important;
       }
    
    
}