

:root {
  background-color: black;
}


body{
  
  
  font-family:sans-serif;
  width: 90vw;
  margin: 0 auto;
  
}
.nav{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
  box-shadow: 0px 3px 4px -4px white;
  position: sticky;
  top:0px;
  z-index: 10;
 
}
.navbar{
  margin: 0 auto;
  display: flex;
  
}
.icon-nav{
  display: flex;
  align-items: center;
  
}

.icon-btn{
  cursor: pointer;
}
.icon-btn:hover{
  filter: drop-shadow(2px 2px 4px white);
}


.firstRow h3{
  font-size: 35px;
  font-style: italic;
}
.firstRow p{
  padding-top: 20px;
  font-size: 20px;
  font-style: italic;
}
.firstDiv{
  animation: fadeIn 1.2s ease-in;
}

.spinner{
  margin: 300px auto;
  display: grid;
  justify-self: center;
  align-items: center;
  align-content: center;
}


.links{
  display: flex;
  margin-top: 10px;
}
.links img{
  width: 5vw;
  height: 5vh;
}


.linksDiv{
  width: 10vw;
  margin: 0 auto;
  display: flex;
  
}
.link-nav{
  text-decoration: none;
  display: flex;
  margin: 0 auto;
  color: white !important;
}
.link-nav:hover{
  filter: drop-shadow(0px 0px 4px white);
}

.link{
  text-decoration: none;
  display: flex;
  margin: 0 auto;
  color: white !important;
}


/* //////////  PROJECT  CARDS /////////////           */
.cards{
  
  margin-top: 100px;
  margin-bottom: 50px;
}
.cards-div{
  background: #171717;
  border-radius: 8px;
}
.cardsRow{
  
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      200px,
      1fr
    )
  );
  gap: 1.2rem;
  padding-top: 40px;
  padding-bottom: 40px;
  animation: ver linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
 
}

.cards-title{
  
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(80, 80, 80);
    text-align: center;
    font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}

.cardBody{
  display: flex;
  flex-direction: column;
  max-height: fit-content;
}
.cardTitle{
  text-align: center;
  font-weight: bold;
}
.cardText{
 text-wrap: wrap;
 max-height: 10vh;
 text-overflow: ellipsis;
 overflow: auto;
}
.card{
  margin: 10px;
  max-height: max-content;
  max-width: max-content;

}
.cardDiv{
  margin-bottom: 20px;
  min-height: 20vh;
}
.proyectosItem{
  padding-bottom: 5vh;
}
.cardImg{
  width: 100%;
  height: auto;
  opacity: 1;
}

.div-superior-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:auto;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
 
  & img{
    display: flex;
    width: 100%;
    height: 10vh;
  }
}

.div-img:hover{
  .cardImg{
    opacity: 0.5;
  }
  .div-superior-img{
    opacity: 1;
    pointer-events: auto;
  }
}



.githubIcon{
  transition-duration: 200ms;
  transition-property: all;
  width: 4vw;
  height: 4vh;
  z-index: 0;
}
.githubIcon:hover{
  scale: 1.4;
  z-index: 1;
  
} 


footer{
  padding-top: 10px;
  text-align: center;
  box-shadow: 0px -3px 4px -4px white;
 
}


@keyframes fadeIn{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

@keyframes baja{
  from{
    translate: 0 -30px;
    
  }
  to{
    translate: 0 0;
    
  }
}



@keyframes ver{
  from{
    opacity: 0;
    scale: .5;
    /*translate: 0 100px;  slide in para agrupar los elementos en funcion del eje y */
  }
  to{
    opacity: 1;
    scale: 1;
    /*translate: 0 0;*/
  }
 }

