@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+25&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jersey+10&family=Jersey+25&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jersey+10&family=Jersey+25&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lugrasimo&family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jersey+10&family=Jersey+25&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lugrasimo&family=Oleo+Script:wght@400;700&family=Play:wght@400;700&family=Roboto+Slab:wght@100..900&display=swap');


:root {
 
}

body{
  background-color: #171717;
  font: 1em sans-serif;
  
  color: white;
  width: 60%;
  margin: 0 auto;
}
.nav{
  justify-content: center;
  color: white !important;
  box-shadow: 0px 3px 4px -4px white;
}
.navLink{
  color: white !important;
}
.container{
  margin-top: 30px;
}
.lampDiv{
  width: 8vw;
  height: 16vh;
  margin: 0 auto;
  display: grid;
 
}

.lamp{
  
  width: 8vw;
  height: 16vh;
  position: absolute;
  animation: light 3s both 1.5s;
  animation-timing-function:ease-in;
 
}
.lamp2{
  position: absolute;
  width: 8vw;
  height: 16vh;
  animation: light2 4s both;
  animation-timing-function:ease-in;
}


@keyframes light{
  0%{
    filter: drop-shadow( 0 0 0 gold);
  }
  100%{
    filter: drop-shadow( 0 0 1rem gold);
    
  }
}
@keyframes light2{
  0%{
    filter: drop-shadow( 0 0 0 rgb(255, 209, 150));
  }
 
  100%{
    filter: drop-shadow( 0 0 0.6rem rgb(255, 209, 150));
  }
}


.firstRow{
  padding-top: 150px;
  padding-bottom: 100px;
  border-bottom: 1px solid transparent;
  box-shadow: 0px 3px 4px -4px white;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  text-justify:distribute-all-lines;
  line-height: 20px;
  text-align: center;
 
  
}
.firstRow h2,h3{
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
}
.firstRow h3{
  font-size: 35px;
  font-style: italic;
}
.firstRow p{
  padding-top: 20px;
  font-size: 20px;
  font-style: italic;
}
.firstDiv{
  animation: fadeIn 1.2s ease-in;
}

.spinner{
  margin: 300px auto;
  display: grid;
  justify-self: center;
  align-items: center;
  align-content: center;
}
.rowContainer{
  
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 100px;
  
  margin-bottom: 100px;
  border-bottom: 1px solid transparent;
  box-shadow: 0 3px 4px -4px white;
  animation: ver linear both;/*ESTA ANIMACION NO ESTA SOPORTADA POR FIREFOX*/
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}
.rowContainer h3{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}


.firstColumn{
  box-shadow: 0px 0px 4px white;
  border: 1px solid transparent;
  border-radius: 10px;
  
  width: 5vw;
  display: grid;
  align-items: center;
  align-content: center;
  text-justify:distribute-all-lines;
  
}

.firstColumn p{
  line-height:25px;
  font-size: 16px;
}
.firstColumn span{
  animation: promtView 1s infinite;
}

.secondColumn{
  
  margin: 0 auto;
  text-align: center;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 5vh;
  
 }
 .secondColumnChild{
  width: 20vw;
  height: 40vh;
  margin: 0 auto;
 }
.profileImg{
  box-shadow: 0px 0px 4px white;
  border: 1px solid transparent;
  border-radius: 10px;
  
  width: 18vw;
  height: 40vh;
}

.links{
  display: flex;
  margin-top: 10px;
}
.links img{
  width: 5vw;
  height: 5vh;
}
.habilidadesRow h3{
  text-align: center;
  font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}
.habilidadesRow{
  padding-top: 100px;
  box-shadow: 0 3px 4px -4px white;
  animation: ver linear both;/*ESTA ANIMACION NO ESTA SOPORTADA POR FIREFOX*/
  animation-timeline: view();
  animation-range: entry 30% cover 30%;
}

.habilidades{
 
  margin-top: 100px;
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      200px,
      1fr
    )
  );
  gap: 3rem;
  
}
.habilidad{
  margin: 0 auto;
  gap: 2rem;
}
.habilidadesItemImg{
  width: 4vw;
  height: 8vh;
  /*filter: drop-shadow( 0 0 0.1rem rgb(255, 255, 255));*/
}

.linksDiv{
  width: 10vw;
  margin: 0 auto;
  display: flex;
  
}

.link{
  text-decoration: none;
  display: flex;
  margin: 0 auto;
}
.cardsRow{
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      200px,
      1fr
    )
  );
  gap: 1rem;
  padding-top: 100px;
  padding-bottom: 100px;
  /*animation: ver 2s ease-in 200ms;*/
  animation: ver linear both;/*ESTA ANIMACION NO ESTA SOPORTADA POR FIREFOX*/
  animation-timeline: view();
  animation-range: entry 30% cover 30%;
  border-bottom: 1px solid transparent;
  box-shadow: 0 3px 4px -4px white;
}
.cards{
  padding-top: 100px;
}
.cards h3{
  text-align: center;
  font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}

.card{
  
  box-shadow: 60px -60px -16px #000;
  transition-timing-function: ease-in;
}
.cardBody{
  display: flex;
  flex-direction: column;
}
.cardTitle{
  text-align: center;
}
.cardText{
  line-height: 22px;
}
.cardDiv{
  margin-bottom: 20px;
  height: 15vh;
}
.proyectosItem{
  padding-bottom: 5vh;
}

.iconsCard img{
  margin: 0 auto;
  width: 2vw;
  height: 4vh;
}



.card:hover{
 
}
.githubIcon{
  transition-duration: 200ms;
  transition-property: scale;
  width: 6vw;
  height: 6vh;
}
.githubIcon:hover{
  scale: 1.4;
  
} 

.btnTop{
  display: flex;
  margin: 0 auto;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 10vw;
  height: 5vh;
 
  

}
@keyframes lamp{
  from{
    scale: .5;
  }
  to{
    scale: 1;
    
  }
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

@keyframes baja{
  from{
    translate: 0 -30px;
    
  }
  to{
    translate: 0 0;
    
  }
}



@keyframes ver{
  from{
    opacity: 0;
    scale: .5;
    /*translate: 0 100px;  slide in para agrupar los elementos en funcion del eje y */
  }
  to{
    opacity: 1;
    scale: 1;
    /*translate: 0 0;*/
  }
 }
@keyframes promtView{
  0%{
    opacity: 1;
  }
  49%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  99%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
