

:root {
  background-color: black;
}


body{
  
  
  font-family:sans-serif;
  width: 90vw;
  margin: 0 auto;
  
}
.nav{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
  box-shadow: 0px 3px 4px -4px white;
  position: sticky;
  top:0px;
  z-index: 10;
 
}
.navbar{
  margin: 0 auto;
  display: flex;
  
}
.icon-nav{
  display: flex;
  align-items: center;
  
}

.icon-btn{
  cursor: pointer;
}
.icon-btn:hover{
  filter: drop-shadow(2px 2px 4px white);
}


.firstRow h3{
  font-size: 35px;
  font-style: italic;
}
.firstRow p{
  padding-top: 20px;
  font-size: 20px;
  font-style: italic;
}
.firstDiv{
  animation: fadeIn 1.2s ease-in;
}

.spinner{
  margin: 300px auto;
  display: grid;
  justify-self: center;
  align-items: center;
  align-content: center;
}


.links{
  display: flex;
  margin-top: 10px;
}
.links img{
  width: 5vw;
  height: 5vh;
}


.linksDiv{
  width: 10vw;
  margin: 0 auto;
  display: flex;
  
}
.link-nav{
  text-decoration: none;
  display: flex;
  margin: 0 auto;
  color: white !important;
}
.link-nav:hover{
  filter: drop-shadow(0px 0px 4px white);
}

.link{
  text-decoration: none;
  display: flex;
  margin: 0 auto;
  color: white !important;
}

.projects-section{
  animation: ver linear both;/*ESTA ANIMACION NO ESTA SOPORTADA POR FIREFOX*/
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}



footer{
  padding-top: 10px;
  text-align: center;
  box-shadow: 0px -3px 4px -4px white;
 
}


@keyframes fadeIn{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

@keyframes baja{
  from{
    translate: 0 -30px;
    
  }
  to{
    translate: 0 0;
    
  }
}



@keyframes ver{
  from{
    opacity: 0;
    scale: .5;
    /*translate: 0 100px;  slide in para agrupar los elementos en funcion del eje y */
  }
  to{
    opacity: 1;
    scale: 1;
    /*translate: 0 0;*/
  }
 }

